
html{

    border: 10px solid rgb(34, 97, 83);

}
p{
        color: black;
        font-size: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        background: rgb(169, 240, 228);
    }

body{
    text-align: center;
    
}
h1{

 display: inline-block;
 position: relative;
 
}



h1::before{
 left:-140px;

}
h1::after{
right:-140px
}


h1::after,h1::before{
    content:'';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}
* {
    padding: 0px;
    margin:0px;
}   
    
#c-slider{
    margin: auto;
    width: 85%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
   

}
#slider{
  
    display: flex;
   width: 2400%;
   
}
#slider section{
width: 100%;
}
#slider img{
    display:block;
    width: 100%;
    height: 50%;
  
    
}
#btn-prev, #btn-next {
width: 40px;
height: 40px;
background:rgba(255, 255, 255, 0.5);
position: absolute;
top: 50%;
transform: translateY(-400%);
line-height: 160%;
font-size: 25px;
font-weight: bold;
text-align: center;
border-radius: 50%;
cursor: pointer;
font-family: monospace;

}



#btn-prev{
    left:10px
}
#btn-next{
    right: 10px;
}
#map{
    width: 600px;  
    height: 300px;
    margin-left: auto;
    margin-right:auto;
    border: 5px solid rgb(0, 0, 0);

  }
 

  